@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --ptm-text: #343434;
    --ptm-bg: #ffffff;
    
    --ptm-site-bg: #edebe9 linear-gradient( to bottom, #dbd7d1, #edebe9 120px ) no-repeat;
    --ptm-box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.14 ),
                      0 3px 1px -2px rgba( 0, 0, 0, 0.2 ),
                      0 1px 5px 0 rgba( 0, 0, 0, 0.12 );
    
    --ptm-lgray: #f5f6f7;
    --ptm-mgray: #c6c7c8;
    
    --ptm-hl1: #006699;
    --ptm-hl2: #5599cc;
    
    --ptm-good: #448800;
    --ptm-bad: #bb3300;
}

body {
    margin: 0;
    height: 100%;
    background: var( --ptm-site-bg );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input {
    margin: 0 !important;
}

.ptm_container {
    margin: 3.2em auto 2.2em auto;
}

.ptm_container * {
    line-height: 1.2;
    text-decoration: inherit !important;
    font-family: 'Work Sans', sans-serif;
    color: var( --ptm-text );
}

.ptm_container a:link,
.ptm_container a:visited {
    color: var( --ptm-hl1 );
}

.ptm_container a:hover {
    color: var( --ptm-hl2 );
}

.ptm_container h3 {
    margin: 1em 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.7;
}

/* main classes */

.eliminated {
    color: var( --ptm-bad );
}

/* ptm page */

.ptm_page {
    padding: 1.6em;
    background: var( --ptm-bg );
    box-shadow: var( --ptm-box-shadow );
}

/* ptm hlink */

.ptm_hlink {
    float: right;
    font-size: 1.2em;
}

/* ptm rank */

rank {
    font-weight: 600;
}
rank::before {
    content: '#';
    padding-right: 0.05em;
    font-size: 0.7em;
}

/* ptm cash + stack */

stack::before,
cash b::before {
    padding-right: 0.2em;
    font-size: 0.8em;
}

stack.good::before,
cash.good b::before {
    content: '▲';
    color: var( --ptm-good );
}

stack.bad::before,
cash.bad b::before {
    content: '▼';
    color: var( --ptm-bad );
}

cash b {
    font-weight: 600;
}

/* ptm ordinal */

ordinal {
    font-weight: 600;
}

ordinal[data-sfx]::after {
    content: attr( data-sfx );
    font-size: 0.75em;
}

/* ptm header */

.ptm_header h1 {
    margin: 0 0 1em 0;
    font-size: 2.2em;
}

/* ptm button */

.ptm_button {
    display: inline-block;
    padding: 0.4em 0.8em;
    text-transform: uppercase;
    color: inherit !important;
    background: var( --ptm-lgray );
    border-radius: 3px;
    transition: color 250ms, background 250ms;
}

.ptm_button:hover {
    color: var( --ptm-bg ) !important;
    background: var( --ptm-hl2 );
}

.ptm_button.alert:hover {
    background: var( --ptm-bad );
}

.ptm_button.disabled {
    pointer-events: none;
    color: var( --ptm-mgray ) !important;
}

/* ptm pager */

.ptm_pager span {
    padding: 0 1em;
}

/* ptm list */

.ptm_list thead tr th {
    text-transform: uppercase;
    font-size: 0.75em;
}

.ptm_list tbody tr:nth-child( 2n+2 ) td {
    background-color: var( --ptm-lgray );
}

/* ptm list ranking */

.ptm_list.ranking tbody tr:nth-child( 1 ) td {
    font-size: 1.3em;
}

.ptm_list.ranking tbody tr:nth-child( 2 ) td {
    font-size: 1.2em;
}

.ptm_list.ranking tbody tr:nth-child( 3 ) td {
    font-size: 1.1em;
}

/* ptm biglist */

.ptm_biglist {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.ptm_biglist > div {
    margin: 0 1.2em 0.6em 0;
}

.ptm_biglist > div h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.7;
}

.ptm_biglist > div > span {
    font-size: 1.3em;
}

/* charts */

#ptm_chart_cash {
    height: 450px;
}

#ptm_chart_stack {
    height: 700px;
}
