@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --ptm-text: #343434;
    --ptm-bg: #ffffff;
    
    --ptm-site-bg: #edebe9 linear-gradient( to bottom, #dbd7d1, #edebe9 120px ) no-repeat;
    --ptm-box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.14 ),
                      0 3px 1px -2px rgba( 0, 0, 0, 0.2 ),
                      0 1px 5px 0 rgba( 0, 0, 0, 0.12 );
    
    --ptm-lgray: #f5f6f7;
    --ptm-mgray: #c6c7c8;
    
    --ptm-hl1: #006699;
    --ptm-hl2: #5599cc;
    
    --ptm-good: #448800;
    --ptm-bad: #bb3300;
    
    --ptm-black: #000000;
    --ptm-red: #ff0000;
}

body {
    margin: 0;
    height: 100%;
    background: var( --ptm-site-bg );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input,
select {
    margin: 0 !important;
}

.ptm_container {
    margin: 3.2em auto 2.2em auto;
}

.ptm_container * {
    line-height: 1.2;
    text-decoration: inherit !important;
    font-family: 'Work Sans', sans-serif;
    color: var( --ptm-text );
}

.ptm_container a:link,
.ptm_container a:visited {
    color: var( --ptm-hl1 );
}

.ptm_container a:not(.ptm_button):hover {
    text-decoration: underline !important;
    color: var( --ptm-hl2 );
}

.ptm_container h3 {
    margin: 1.5em 0 0.75em 0;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.7;
}

/* main classes */

.eliminated {
    color: var( --ptm-bad );
}

/* ptm page */

.ptm_page {
    padding: 1.6em;
    background: var( --ptm-bg );
    box-shadow: var( --ptm-box-shadow );
}

/* ptm hlink */

.ptm_hlink {
    margin-left: 0.3em;
    float: right;
    font-size: 1.2em;
}

/* ptm rank */

rank {
    font-weight: 600;
}
rank::before {
    content: '#';
    padding-right: 0.05em;
    font-size: 0.7em;
}

/* ptm cash + stack */

stack::before,
cash b::before {
    padding-right: 0.2em;
    font-size: 0.8em;
}

stack.good::before,
cash.good b::before {
    content: '▲';
    color: var( --ptm-good );
}

stack.bad::before,
cash.bad b::before {
    content: '▼';
    color: var( --ptm-bad );
}

cash b {
    font-weight: 600;
}

/* ptm ordinal */

ordinal {
    font-weight: 600;
}

ordinal[data-sfx]::after {
    content: attr( data-sfx );
    font-size: 0.75em;
}

/* ptm card */

card {
    padding-right: 0.4em;
}

card::before {
    padding-right: 0.1em;
}

card.clubs,
card.spades {
    color: var( --ptm-black );
}

card.diamonds,
card.hearts {
    color: var( --ptm-red );
}

card.clubs::before {
    content: '♣';
}

card.diamonds::before {
    content: '♦';
}

card.hearts::before {
    content: '♥';
}

card.spades::before {
    content: '♠';
}

/* ptm header */

.ptm_header h1 {
    margin: 0 0 1em 0;
    font-size: 2.2em;
}

/* ptm button */

.ptm_button {
    display: inline-block;
    padding: 0.4em 0.8em;
    text-transform: uppercase;
    color: inherit !important;
    background: var( --ptm-lgray );
    border-radius: 3px;
    transition: color 250ms, background 250ms;
}

.ptm_button:hover {
    color: var( --ptm-bg ) !important;
    background: var( --ptm-hl2 );
}

.ptm_button.alert:hover {
    background: var( --ptm-bad );
}

.ptm_button.disabled {
    pointer-events: none;
    color: var( --ptm-mgray ) !important;
}

/* ptm range */

.ptm_range {
    margin: 1em 0;
    width: 100%;
    height: 22px;
    background: var( --ptm-lgray );
    border-radius: 11px;
    box-shadow: var( --ptm-box-shadow );
    overflow: hidden;
}

.ptm_range .bar {
    position: relative;
    float: left;
    height: 100%;
}

.ptm_range .bar:not(:last-child) {
    border-right: 2px solid var( --ptm-lgray );
}

.ptm_range .bar span {
    position: absolute;
    top: calc( 50% - 6px );
    left: 7px;
    display: block;
    line-height: 1;
    font-size: 12px;
    font-weight: 600;
}

.ptm_range .bar.good {
    background: var( --ptm-good );
}

.ptm_range .bar.bad {
    background: var( --ptm-bad );
}

.ptm_range .bar.good span,
.ptm_range .bar.bad span {
    color: var( --ptm-bg );
}

/* ptm pager */

.ptm_pager span {
    padding: 0 1em;
}

/* ptm list */

.ptm_list thead tr th {
    text-transform: uppercase;
    font-size: 0.75em;
}

.ptm_list tbody tr:nth-child( 2n+2 ) td {
    background-color: var( --ptm-lgray );
}

/* ptm list ranking */

.ptm_list.ranking tbody tr:nth-child( 1 ) td {
    font-size: 1.3em;
}

.ptm_list.ranking tbody tr:nth-child( 2 ) td {
    font-size: 1.2em;
}

.ptm_list.ranking tbody tr:nth-child( 3 ) td {
    font-size: 1.1em;
}

/* ptm biglist */

.ptm_biglist {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.ptm_biglist > div {
    margin: 0 1.2em 0.6em 0;
}

.ptm_biglist > div h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.7;
}

.ptm_biglist > div > span {
    font-size: 1.3em;
}

/* ptm form */

.ptm_container .form-line {
    margin-bottom: 1.2em;
}

.ptm_container .form-line label {
    display: block;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
}

.ptm_container .form-line input,
.ptm_container .form-line select {
    display: block;
    width: 50%;
    padding: 0.4em 0.6em;
    line-height: 1;
    font-size: 1.1em;
}

/* ptm live table */

.ptm_live_header h1 {
    margin-bottom: 1em;
    text-align: center;
}

.ptm_live_table {
    display: grid;
    grid-template-columns: repeat( 4, calc( 25% - 15px ) );
    grid-template-rows: repeat( 3, 160px );
    gap: 20px;
    grid-template-areas:
        'seat_2 seat_3 seat_4 seat_5'
        'seat_1 board  board  seat_6'
        'seat_8 pot    pot    seat_7';
}

.ptm_live_table seat {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30px 18px auto 30px;
    grid-template-areas:
        'name    name   '
        'stack   stack  '
        'bet     cards  '
        'actions actions';
    background: var( --ptm-bg );
    box-shadow: var( --ptm-box-shadow );
}

.ptm_live_table seat .name {
    grid-area: name;
    padding: 4px 8px;
    font-size: 22px;
}

.ptm_live_table seat .name::after {
    content: attr( data-position );
    float: right;
    font-weight: 600;
    opacity: 0.6;
}

.ptm_live_table seat .name[data-position="D"]::after,
.ptm_live_table seat .name[data-position="SB"]::after,
.ptm_live_table seat .name[data-position="BB"]::after {
    opacity: 1;
}

.ptm_live_table seat .name[data-position="D"]::after {
    color: var( --ptm-bad );
}

.ptm_live_table seat .stack {
    grid-area: stack;
    padding: 0 8px;
    font-size: 18px;
}

.ptm_live_table seat .stack span:not(:last-child)::after {
    content: ' •';
    opacity: 0.5;
}

.ptm_live_table seat .bet {
    grid-area: bet;
    justify-self: center;
    align-self: center;
}

.ptm_live_table seat .bet .bet_action {
    text-transform: uppercase;
    font-weight: 600;
    color: var( --ptm-good );
}

.ptm_live_table seat .bet .bet_call {
    text-transform: uppercase;
    color: var( --ptm-bad );
}

.ptm_live_table seat .holecards {
    grid-area: cards;
    justify-self: end;
    align-self: end;
    padding: 0 5px;
}

.ptm_live_table cc {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 5px;
    width: 80px;
    height: 60px;
    background: var( --ptm-lgray );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var( --ptm-box-shadow );
}

.ptm_live_table cc card {
    flex: 0 0 1px;
    padding-right: 0;
    font-size: 32px;
}

.ptm_live_table seat .actions {
    grid-area: actions;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var( --ptm-mgray );
}

.ptm_live_table seat .actions > * {
    flex: 1 0 auto;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    outline: 0 none;
}

.ptm_live_table seat .actions input[name="value"] {
    padding-left: 8px;
}

.ptm_live_table seat .actions button {
    color: var( --ptm-text );
    background: var( --ptm-lgray );
}

.ptm_live_table seat .actions button:hover {
    background: var( --ptm-mgray );
}

.ptm_live_table seat .actions button[name="fold"] {
    color: var( --ptm-bad );
}

.ptm_live_table seat .actions button[name="fold"]:hover,
.ptm_live_table seat.fold .actions button[name="fold"] {
    color: var( --ptm-bg );
    background: var( --ptm-bad );
}

.ptm_live_table seat.fold card {
    opacity: 0;
}

.ptm_live_table seat.fold .actions {
    pointer-events: none;
}

.ptm_live_table seat.fold .actions :not([name="fold"]) {
    display: none;
}

.ptm_live_table seat[data-s="1"] {
    grid-area: seat_1;
}

.ptm_live_table seat[data-s="2"] {
    grid-area: seat_2;
}

.ptm_live_table seat[data-s="3"] {
    grid-area: seat_3;
}

.ptm_live_table seat[data-s="4"] {
    grid-area: seat_4;
}

.ptm_live_table seat[data-s="5"] {
    grid-area: seat_5;
}

.ptm_live_table seat[data-s="6"] {
    grid-area: seat_6;
}

.ptm_live_table seat[data-s="7"] {
    grid-area: seat_7;
}

.ptm_live_table seat[data-s="8"] {
    grid-area: seat_8;
}

.ptm_live_table board {
    grid-area: board;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptm_live_table board cc {
    width: 120px;
    height: 90px;
    border-radius: 10px;
}

.ptm_live_table board cc card {
    font-size: 3em;
}

.ptm_live_table pot {
    grid-area: pot;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    gap: 0 20px;
    align-items: center;
    grid-template-areas: 'blinds pot';
}

.ptm_live_table pot .blinds {
    grid-area: blinds;
    justify-self: end;
    text-align: right;
    opacity: 0.7;
}

.ptm_live_table pot .blinds > * {
    display: block;
}

.ptm_live_table pot .blinds level::before {
    content: 'LEVEL ';
}

.ptm_live_table pot .blinds sb::before {
    content: 'SB ';
}

.ptm_live_table pot .blinds bb::before {
    content: 'BB ';
}

.ptm_live_table pot .blinds ante::before {
    content: 'ANTE ';
}

.ptm_live_table pot .blinds hand::before {
    content: 'HAND ';
}

.ptm_live_table pot .blinds span {
    font-weight: 600;
}

.ptm_live_table pot .pot {
    grid-area: pot;
    line-height: 1;
}

.ptm_live_table pot .pot > *::after {
    display: block;
    font-size: 0.75rem;
    opacity: 0.7;
}

.ptm_live_table pot .pot .pot_rpot::after {
    content: 'BETS';
}

.ptm_live_table pot .pot .pot_pot::after {
    content: 'TOTAL';
}

.ptm_live_table pot .pot > * span::before {
    content: '$';
    padding-right: 0.2rem;
    font-size: 1.2rem;
}

.ptm_live_table pot .pot .pot_rpot span {
    font-size: 1.6em;
}

.ptm_live_table pot .pot .pot_pot span {
    font-size: 2.6em;
    font-weight: 600;
}

/* ptm live table tabs */

.ptm_live_tabs {
    margin: 1.5em 0;
}

#ptm_live_tabs_container .ui-tabs-nav {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid var( --ptm-mgray );
}

#ptm_live_tabs_container .ui-tabs-nav li {
    flex: 0 0 1px;
    white-space: nowrap;
    outline: 0 none;
}

#ptm_live_tabs_container .ui-tabs-nav li a:link,
#ptm_live_tabs_container .ui-tabs-nav li a:visited,
#ptm_live_tabs_container .ui-tabs-nav li a:hover {
    position: relative;
    display: block;
    padding: 0 0.8em;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none !important;
    color: inherit;
    outline: 0 none;
}

#ptm_live_tabs_container .ui-tabs-nav li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: var( --ptm-hl2 );
    transform: scale( 0 );
    transition: transform 250ms;
}

#ptm_live_tabs_container .ui-tabs-nav li.ui-state-active a::after,
#ptm_live_tabs_container .ui-tabs-nav li a:hover::after {
    transform: scale( 1 );
}

#ptm_live_tabs_container .ui-tabs-panel {
    padding: 10px 15px;
    background: var( --ptm-lgray );
}

#ptm_live_tabs_container .ui-tabs-panel form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
}

#ptm_live_tabs_container .ui-tabs-panel form > * {
    flex: 0 0 1px;
    display: block;
    margin: 0 15px 0 0 !important;
}

#ptm_live_tabs_container .ui-tabs-panel form label {
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.7;
}

#ptm_live_tabs_container .ui-tabs-panel form label::after {
    content: ':';
}

/* charts */

#ptm_chart_cash {
    height: 450px;
}

#ptm_chart_stacks {
    height: 500px;
}

#ptm_chart_stack {
    height: 700px;
}
